@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
    --background: theme(colors.day.100);
    --foreground: theme(colors.day.DEFAULT);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-k2d), system-ui;
    --font-mono: var(--font-k2d), system-ui;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: theme(colors.night.100);
        --foreground: theme(colors.night.DEFAULT);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}